/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
color: white;
} 

header {
    background-color: black;
}

h1{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 700; 
        font-size: 5rem;
        text-align: center;
        background-color: black;
        color: white;
        padding: 10px;
        animation-name: mostrar-titulo;
        animation-duration: 3s;
        animation-iteration-count: 1;
}

@keyframes mostrar-titulo {

    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

nav ul{
        background-color: rgb(255, 0, 0);
        color: white;
        text-align: center;
        margin: 0px;
        padding-left: 0px;
        
}

nav ul li{
        list-style-type: none;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz', sans-serif ;
        font-weight: 700;
        font-size: 2rem;
        margin-inline: 15px;
        animation-name: fade;
        animation-duration: 3s ;
        animation-iteration-count: 1;
}   

@keyframes fade {
        from {transform: translateY(-15px); opacity: 0;}
        to {transform: translateY(0px); opacity: 1;}
}

nav ul li:hover{
    scale: 1.3;
    transition-duration: 2s;
    
}

p{
    font-size: 1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    margin: 20px;
    color: white;
}

hr{
    padding: 3px;
    background-color:grey;
    border-color: black;
    margin: 0px;
    opacity: 50;
    
}

:root{
        font-size: 16px;
}

.intro{
    background-color: black;
}

.intro__titulo{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    margin: 20px;
    color: white;
    text-align: center;
}

.intro__p1,.intro__p2{
    text-align: center;
}

.fondo-vid{
    background-color: black;
}

video{
    width: 30vw;
    height: 50vh;
    border: solid grey 5px;
    background-color: black;
    margin: 20px;
}

.fondo-img{
    background-color: black;
}

.fondo-img__estilo{
    width: 30vw;
    height: 50vh;
    border: solid grey 5px;
    margin: 20px;
}

footer{
    padding-top: 5px;
    background-color: black;
}

footer h2{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    margin: 20px;
    color: white;
    text-align: center;
}

footer div li{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    list-style-type: none;
    display: inline-block;
}

h3{
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    color: white;       
    text-align: center;
    background-color: black;
}

footer ul {
    text-align: center;
    
}

.suscripcion{
    font-size: 1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: black;
}

.suscripcion__boton{
    color:black;
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    padding: 2px;
    border-radius: 10px;
}

.suscripcion__email{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
}

.fondo-susc{
    background-color: black;
}
.fondo-cont1{
    background-color: black;
}

.biografia-1{
    background-color:black;
    padding: 5px;
}

.biografia-1__titulo{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    margin: 20px;
    color: white;
}

.img-banda1{
    width: 80% ;
    height: 80%;
    border: 5px solid grey;
    margin-top: 20px;
    
}

.fondo-img1{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.biografia-2{
    background-color:black;
    padding: 5px;   
}

.biografia-3{
    background-color:black;
    padding: 5px;
}

.fondo-cont3{
    background-color: black;
}

.img-banda2{
    width: 80% ;
    height: 100%;
    border: 5px solid grey;
    
}

.fondo-img2{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fondo-cont4{
    background-color: black;
}

.img-banda3{
    width: 80% ;
    height: 100%;
    border: 5px solid grey;
    
}

.fondo-img3 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.fondo-cont5{
    background-color: black;
}

.contacto{
    background-color: black;
    padding: 20px;
}

.contacto__marco{
    border: solid grey 4px;
    padding: 20px;
}

.contacto h2{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    margin: 20px;
    color: white;
    text-align: center;
}

.contacto label{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    color: white;
    margin: 20px;
}

.contacto input{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    padding: 2px;
    border-radius: 10px;
}

.contacto div{
    text-align: center;
    margin: 10px 0px 10px;
}

textarea{
    max-width: 80%;
}*/

.fondo-cont-disc{
    background-color: black;
}

.main-disc{
    background-color: black;
}
.titulo-discoa{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.img-discoa{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}

.iframe-discoa{
    border: 5px solid grey;
    border-radius: 10px;
}

.titulo-discob{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;

}

.img-discob{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}

.iframe-discob{
    border: 5px solid grey;
    border-radius: 10px;
}

.titulo-discoc{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.img-discoc{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}

.iframe-discoc{
    border: 5px solid grey;
    border-radius: 10px;
}

.titulo-discod{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.img-discod{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}

.iframe-discod{
    border: 5px solid grey;
    border-radius: 10px;
}

.titulo-discoe{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.img-discoe{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}

.iframe-discoe{
    border: 5px solid grey;
    border-radius: 10px;
}

.titulo-discof{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}

.img-discof{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}

.iframe-discof{
    border: 5px solid grey;
    border-radius: 10px;
}

/* @media (max-width:1199px){

    video{
        width: 70vw;
    }

    .fondo-img__estilo{
        width: 70vw;
    } 

    .img-banda1{
        width: 70vw;
    }

}

@media (min-width:1200px){
    
    footer h2{
        text-align: start;
    }   

    footer div li{
        display: block;
        text-align: start;
    }
    
    h3{
        text-align: end;
    }

    .suscripcion{
        text-align: end;
    }

    .intro__titulo,.intro__p1,.intro__p2{
        text-align: start;
    }
} */