*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700; 
    font-size: 5rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 16px;
}


nav ul{
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 8px;
    text-align: center;
    
}

nav ul li{
        list-style-type: none;
        display: inline-block;
        font-family: 'Yanone Kaffeesatz', sans-serif ;
        font-weight: 700;
        font-size: 2rem;
        margin-inline: 15px;
}

:root{
    font-size: 16px;
}

.portada{
    width: 100%;
    height: 100vh;

    background-image: url("../img/gunsnroses-portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

hr{
    padding: 3px;
    background-color:yellow;
    border-color: black;
}

.biografia{
    background-color:black;
    padding: 5px;
}

.biografia__titulo{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    margin: 20px;
    color: white;
}

.biografia__imagenbanda{
    width: 40% ;
    height: 40vh;
    background-image: url("../img/banda.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid yellow;
    margin-left: 360px;
}

.biografia__imagenbanda2{
    width: 40% ;
    height: 40vh;
    background-image: url("../img/banda2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid yellow;
    margin-left: 360px;
}

.biografia__bandavivo{
    width: 40% ;
    height: 40vh;
    background-image: url("../img/bandavivo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid yellow;
    margin-left: 360px;
}       

p{
    font-size: 1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    margin: 20px;
    color: white;
}


footer{
    background-color: black;
    padding-top: 5px;
}
footer h2{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    margin: 20px;
    color: white;
}

footer h3{
    font-size: 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    margin: 20px;
    color: white;
    text-align: center;

}

footer div li{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    list-style-type: none;
}

.suscripcion{
    font-size: 1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    margin-left: 20px;
    color: white;
    text-align: center;
}

.suscripcion__boton{
    color:black;
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    padding: 2px;
}

.suscripcion__email{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
}

.contacto{
    background-color: black;
    padding: 20px;
}

.contacto__marco{
    border: solid white 4px;
    padding: 20px;
}

.contacto h2{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    margin: 20px;
    color: white;
    text-align: center;
}

.contacto label{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    color: white;
    margin: 20px;
}

.contacto input{
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    padding: 2px;
}

.contacto div{
    text-align: center;
    margin: 10px 0px 10px;
}

.inicio{
    background-color: black;
    padding: 20px;
}
.inicio__titulo{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    margin: 20px;
    color: white;
}

.inicio__video{
    width: 45vw;
    border: solid yellow 5px;
}

.inicio__imagen{
    width: 45vw;
    border: solid yellow 5px;
}

.inicio div{
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    
}