.contenido{
    border-top: 6px solid grey;
    border-bottom: 6px solid grey;
    background-color: black;
    
}
.intro{
    background-color: $color-a;
    &__titulo{
        font-size: 2.5rem;
        font-family: $font-a;
        font-weight: 700;
        text-decoration: underline;
        margin: 20px;
        color: $color-c;
        text-align: center;
    }
    &__p1,&__p2{
        text-align: center;
    }
}
.biografia{
    background-color:$color-a;
    padding: 5px;
    &__titulo{
        font-size: 2.5rem;
        font-family: $font-a;
        font-weight: 700;
        text-decoration: underline;
        margin: 20px;
        color: $color-c;
        text-align: center;
    }
}
.fondo-cont-disc{
    background-color: $color-a;
}
.titulo-disc{
    font-size: 2.5rem;
    font-family: $font-a;
    font-weight: 700;
    text-decoration: underline;
    color: $color-c;
    padding: 20px;
    &__subt{
        font-size: 1.6rem;
        font-family: $font-a;
        font-weight: 700;
        text-decoration: underline;
        color: $color-c;
    }
}
.tours-titulo{
    font-size: 2.5rem;
    font-family: $font-a;
    font-weight: 700;
    text-decoration: underline;
    color: $color-c;
    padding: 20px;
    text-align: center;
}
.tabla{
    width: 80vw;
    font-size: 1.3rem;
    font-family: $font-a;
    font-weight: 500;   
    color: $color-c;
    text-align: center;
    margin: 30px;
    &__encabezado{
        background-color: $color-b;
        border: 5px solid $color-b;
        }
    }
.lugar{
    background-color: $color-b;
}
.link-compra.link-compra{
    color: $color-a;
}