.intro{
    background-color: black;
    &__titulo{
        font-size: 2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 700;
        text-decoration: underline;
        margin: 20px;
        color: white;
        text-align: center;
    }
    &__p1,&__p2{
        text-align: center;
    }
}
.fondo-cont1{
    background-color: black;
}
.biografia-1{
    background-color:black;
    padding: 5px;
    &__titulo{
        font-size: 2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 700;
        text-decoration: underline;
        margin: 20px;
        color: white;
    }
}
.biografia-2{
    background-color:black;
    padding: 5px;   
}

.biografia-3{
    background-color:black;
    padding: 5px;
}
.fondo-cont3{
    background-color: black;
}
.fondo-cont4{
    background-color: black;
}
.fondo-cont5{
    background-color: black;
}
.fondo-cont-disc{
    background-color: black;
}
.main-disc{
    background-color: black;
}
.titulo-disc{
    font-size: 2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}
.titulo-discoa{
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}
.titulo-discob{
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;

}
.titulo-discoc{
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}
.titulo-discod{
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}
.titulo-discoe{
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}
.titulo-discof{
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: white;
}
