.fondo-susc{
    background-color: $color-a;
}

.suscripcion{
    font-size: 1.3rem;
    font-family: $font-a;
    font-weight: 500;
    color: $color-c;
    text-align: center;
    background-color: $color-a;
    &__boton{
        color:$color-a;
        font-size: 1.2rem;
        font-family: $font-a;
        font-weight: 500;
        padding: 2px;
        border-radius: 10px;
    }
    &__email{
        font-size: 1.2rem;
        font-family: $font-a;
        font-weight: 500;
        border-radius: 10px;
    }
}
.contacto{
    background-color: $color-a;
    padding: 20px;
    border-top: 6px solid grey;
    border-bottom: 6px solid grey;
    &__marco{
        border: solid $color-b 4px;
        padding: 20px;
        border-radius: 10px;
    }
    &__titulo{
        font-size: 2.5rem;
        font-family: $font-a;
        font-weight: 700;
        margin: 20px;
        color: $color-c;
        text-align: center;
    }
    &__etiqueta{
        font-size: 1.2rem;
        font-family: $font-a;
        font-weight: 500;
        color: $color-c;
        margin: 20px;
    }
    input{
        font-size: 1.2rem;
        font-family: $font-a;
        font-weight: 500;
        padding: 2px;
        border-radius: 10px;
    }
    div{
        text-align: center;
        margin: 10px 0px 10px;
    }
    #mensaje-usuario{
    max-width: 80%;
    font-size: 1.2rem;
    font-family: $font-a;
    font-weight: 500;
    border-radius: 10px;
    
    }
}
