.fondo-susc{
    background-color: black;
}

.suscripcion{
    font-size: 1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    background-color: black;
    &__boton{
        color:black;
        font-size: 1.2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 500;
        padding: 2px;
        border-radius: 10px;
    }
    &__email{
        font-size: 1.2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 500;
        border-radius: 10px;
    }
}
.contacto{
    background-color: black;
    padding: 20px;
    &__marco{
        border: solid grey 4px;
        padding: 20px;
        border-radius: 10px;
    }
    h2{
        font-size: 2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 700;
        margin: 20px;
        color: white;
        text-align: center;
    }
    label{
        font-size: 1.2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 500;
        color: white;
        margin: 20px;
    }
    input{
        font-size: 1.2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 500;
        padding: 2px;
        border-radius: 10px;
    }
    div{
        text-align: center;
        margin: 10px 0px 10px;
    }
}
textarea{
    max-width: 80%;
    font-size: 1.2rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;
    border-radius: 10px;
    
}