header {
    background-color: black;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700; 
    font-size: 5rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    animation-name: mostrar-titulo;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes mostrar-titulo {

0%{opacity: 0;}
100%{opacity: 1;}

}