nav ul{
    background-color: $color-d;
    color: $color-c;
    text-align: center;
    margin: 0px;
    padding-left: 0px;
    li{
        list-style-type: none;
        display: inline-block;
        font-family: $font-a;
        font-weight: 700;
        font-size: 2rem;
        margin-inline: 15px;
        animation-name: fade;
        animation-duration: 3s ;
        animation-iteration-count: 1;
    }
    li:hover{
        scale: 1.3;
        transition-duration: 2s;
    }
}

@keyframes fade {
    from {transform: translateY(-15px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
}