.fondo-img{
    background-color: black;
    &__estilo{
        width: 30vw;
        height: 50vh;
        border: solid grey 5px;
        margin: 20px;
    }
}
.img-banda1{
    width: 80% ;
    height: 80%;
    border: 5px solid grey;
    margin-top: 20px;
    
}

.fondo-img1{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-banda2{
    width: 80% ;
    height: 100%;
    border: 5px solid grey;
    
}
.fondo-img2{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.img-banda3{
    width: 80% ;
    height: 100%;
    border: 5px solid grey;
    
}
.fondo-img3 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.img-discoa{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}
.img-discob{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}
.img-discoc{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}
.img-discod{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}
.img-discoe{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}
.img-discof{
    width: 500px;
    height: 500px;
    border: 5px solid grey;
    border-radius: 10px;
}