.fondo-img{
    background-color: $color-a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    &__estilo{
        width: 30vw;
        height: 50vh;
        border: solid $color-b 5px;
        margin: 20px;
        border-radius: 10px;
    }
}
.img-banda{
    width: 80% ;
    height: 80%;
    border: 5px solid $color-b;
    border-radius: 10px;
    
}
.img-banda2{
    width: 80% ;
    height: 100%;
    border: 5px solid $color-b;
    border-radius: 10px;
}

.cont-imgd{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    margin: 0 auto;
}
.img-disco{
    width: 100%;
    height: 100%;
    border: 5px solid $color-b;
    border-radius: 10px;
}
.img-fluid{
    width: 100vw;
    aspect-ratio: 16/9;
}
