.iframe-discoa{
    border: 5px solid $color-b;
    border-radius: 10px;
}
.iframe-discob{
    border: 5px solid $color-b;
    border-radius: 10px;
}
.iframe-discoc{
    border: 5px solid $color-b;
    border-radius: 10px;
}
.iframe-discod{
    border: 5px solid $color-b;
    border-radius: 10px;
}
.iframe-discoe{
    border: 5px solid $color-b;
    border-radius: 10px;
}
.iframe-discof{
    border: 5px solid $color-b;
    border-radius: 10px;
}